
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Poppins",sans-serif;
}





@media screen and (max-width: 450px){

  .pdf-page{
    max-width: 350px;
    padding: 10px;
  }

  .pdf-page canvas{
  width: 100% !important;
  height: auto !important;
  }
}
